language: java
node_js:
  - "4.1"
  
jdk:
  - oraclejdk8

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
  - TEST_SEVERITY=LOW # set: LOW , MEDIUM , HIGH , CRITICAL
  - secure: "a8+kWyiU2OU1FH7hf765104HtFT0DBMaRy2cK94twrWFb0omnIIYZhH0Y90iMXG4xVVxjtyOBxcN3TYMFPBVRZDNT9k3AElJJu3l+IYHXmSbK83H9y1WoXyu/ZOG8pahsfVFYliUaqidETIgA+6ZKyToRKwZTtS+vsFcj1Zs02xGac8jymc45ms+0gBaEwiQf48EgfxWwJ2K82RFDKK4vYzqureiN6SF22fox8xDf+riF/VK+eYleYlON8ieLyx/e31mX9zTjoXkoAQvty19cbyCzWtO6XuAF85bU8piiSPhg17mkl7Ql19VeZxz+pfFyPB+p9AD3+jyV0ndhxjm2lrjKx1ddHnoNLL1bzq/7sIEklwaR7D/pBL04g09arm0OHAanwJ5k1nhsaqScgK1i0DgTMgBzV/WrKAp4kNfJv59yUG9YByL5l1gcQqnDXWs3y9vrQzzF6HADseJiNUMwVuguWu5kSuoLRvhkP0coQ6m5JBKl1jEnqkyenpsx/F2YSggEO6z29IOuUqX98/C7aiQ3iYiU2P0QfX9d5zUWTsi5GYUXXczfL2l3hi4Dxja1zDjRBMbSIIPH13oFhA32oKPwjeLk0ztHueHzW2RqKN75dfx8FpW0qfU+VUXDysshTEkGXXOmhnZ1GzYDYr5eBLtclALlo7FXta9/MboXts="
# whitelist
branches:
  only:
    - master
    - dev
    - ran-test

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 10 # give xvfb some time to start
  - sh ./tests/levels/before-run-test.sh #copy content & build
  # - npm install chromedriver

script:
  - jekyll serve &
  - sleep 15 # give jekyll some time to start
  - sh ./tests/run-test-dispatch.sh
  - mvn verify -f ./tests/serenity/pom.xml

after_success:
  - echo Success
  - rake travis:deploy --trace --verbose
  - rake travis:report --trace --verbose

after_failure:
  - echo FAIL
  - rake travis:report --trace --verbose

after_script:
  - echo AFTER_SCRIPT



cache:
  directories:
    - node_modules
    - bundler

notifications:
  email:
    recipients: #will receive notification, if admin turn it on, in https://github.com/settings/
        - pavlo_oliinyk1@epam.com
        - de.gratnik@gmail.com
    on_success: never
    on_failure: always
  #slack: ticketmaster:iRbg43K4KnpMyku2u35IIMRg

before_install:
  - '[ "${TEST_SEVERITY}" = "LOW" ] && rvm install 2.1.5 && gem install html-proofer && gem install github-pages || true'
  - '[ ${TEST_SEVERITY} = "MEDIUM" ] || [ ${TEST_SEVERITY} = "HIGH" ] || [ ${TEST_SEVERITY} = "CRITICAL" ] && rvm install 2.1.5 && gem install html-proofer && gem install github-pages && npm install -g galenframework-cli || true'
  - /usr/bin/Xvfb :99 -ac -screen 0 1600x900x16 -extension RANDR &
