<table cellspacing="0">
  <tbody><tr>
    <th>Data</th>
    <th>Attachments</th>
    <th>Timestamp</th>
    <th>Referrer</th>
    <th>Request IP</th>
  </tr>
  <tr>
    <td>
      <table cellspacing="0">
        <tbody><tr>
          <th>yourName</th>
          <td>{{yourName}}</td>
        </tr>
        <tr>
          <th>email</th>
          <td>{{email}}</td>
        </tr>
        <tr>
          <th>subject</th>
          <td>{{subject}}</td>
        </tr>
        <tr>
          <th>descriptions</th>
          <td>{{descriptions}}</td>
        </tr>
        </tbody></table>
    </td>
    <td>
      <table cellspacing="0">
      </table>
    </td>
    <td>{{date}}</td>
    <td>{{url}}</td>
    <td>{{ip}}</td>
  </tr>
  </tbody>
</table>
