RewriteEngine on
RewriteBase /
AddDefaultCharset utf-8
Options -Indexes

RewriteRule ^products-and-docs/apis/commerce/v2/$ auth.php [END] 
RewriteRule ^products-and-docs/apis/commerce/v2/internal.html$ auth.php [END] 
RewriteRule ^products-and-docs/apis/discovery-api/v2/$ auth.php [END]
RewriteRule ^products-and-docs/apis/discovery-api/v2/internal.html$ auth.php [END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
